* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .signupMain {
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffbf5;
    background-color: #fffbf5;
  }
  
  .signup {
    width: 90%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .signupHeading {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #454545;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .signup form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .signupContent,
  .signupContent1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .signupContent label,
  .signupContent1 label {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding-left: 10px;
    position: absolute;
    top: 15px;
    transition: 0.5s ease-in-out;
  }
  
  .signupContent p,
  .signupContent1 p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #454545;
  }
  
  .signupContent span,
  .signupContent1 span {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #98168B;
  }
  
  .signupContent label img,
  .signupContent1 label img {
    width: 20px;
    height: 20px;
  }
  
  .eye {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 14px;
  }
  
  .eye img {
    width: 20px;
    height: 20px;
  }
  
  .signupContent input,
  .signupContent1 input {
    width: 100%;
    border: 0.9px solid #000000;
    /* border: none; */
    padding: 14px;
    font-size: 16px;
    border-radius: 12px;
    outline: none;
    background-color: #fffbf5;
  }
  
  .ip {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    /* position: relative; */
    /* border: 0.9px solid #000000; */
  }
  
  .signupBtns {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signupBtn,
  .loginBtn {
    width: 100%;
  }
  
  .rbn,
  .lbn {
    width: 100%;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    background-color: #98168B;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-align: center;
  }
  
  .signupBtn button:hover {
    background-color: #d73a05;
  }
  
  .loginBtn button {
    background-color: transparent;
    border: 1px solid #98168B;
    box-shadow: 2px 2px 0px 0px #98168B;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #363636;
  }
  
  .loginBtn button:hover {
    background-color: #f7e3dd;
    box-shadow: none;
    color: #ffffff;
  }
  
  form p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #363636;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .signupHeading {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 20px;
    }
  
    .signupContent p,
    .signupContent1 p {
      font-size: 12px;
    }
  
    .signupContent label img,
    .signupContent1 label img,
    .eye img {
      width: 18px;
      height: 18px;
    }
  
    .signupContent input,
    .signupContent1 input {
      font-size: 14px;
      padding: 8px;
    }
  
    .signupBtn button,
    .loginBtn button {
      font-size: 14px;
    }
  }
  